.global-image {
    picture {
        width: 100%;
        height: 100%;
        @include p-rel;
    }
}
.size-full {
    width: 100%;
    height: 100%;
}
.o-cover {
    object-fit: cover;
}
.o-center {
    object-position: center;
}
.o-contain {
    object-fit: contain;
}