.s-social-proof-four-icons {
    .box {
        width: 25%;
        border-right: 1px solid var(--grey-4);
        @include p-rel;
        &:last-child {
            border-right: none;
        }
        @include tablet-medium {
            border-right:none;
            width: calc(50% - 10px);
        }
        @include tablet-small {
            width: 100%;
        }
        &:after {
            content:'';
            bottom: -24.5px;
            left: 50%;
            transform: translateX(-50%);
            height: 1px;
            background-color: var(--grey-4);
            @include p-abs;
            width: 75%;
            display:none;
            @include tablet-medium {
                display:flex;
            }
            @include tablet-small {
                bottom: -19.5px;
                width: 245px;
            }
        }
        &:nth-child(3) {
            @include tablet-medium {
                &:after {
                    display:none;
                }
            }
            @include tablet-small {
                &:after {
                    display:flex;
                }
            }
        }
        &:nth-child(4) {
            @include tablet-medium {
                &:after {
                    display:none;
                }
            }
        }
        &-content {
            width: 293px;
            @include desktop-small {
                width: 250px;
            }
            @include tablet-small {
                width: 245px;
            }
            .icon {
                max-width: 75px;
                @include desktop-small {
                    max-width: 70px;
                }
            }
        }
    }
}