h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
}

.bold {
    font-family: var(--ff-600);
}

.s1 {
    @include s1;
}
.t1 {
    @include t1;
}
.a1 {
    @include a1;
}

.h1 {
    @include h1;
}
.h2 {
    @include h2;
}
.h3 {
    @include h3;
}
.h4 {
   @include h4;
}
.h5 {
    @include h5;
}
.h6 {
    @include h6;
}