:root {
    // colors
        --black: #000000;
        --white: #ffffff;
        --link-hover: #FF8A00;
    // fonts
        // --ff-regular: 'Inter', sans-serif;
        // --ff-light: 'Inter-light', sans-serif;

    // header size
        --header-size: 145px;
        --header-xlg-size: 145px;
        --header-lg-size: 130px;
        --header-t-lg-size: 110px;
        --header-md-size: 50px;
        --header-sm-size: 55px;
}